.collapse-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  @include respond-to("Tablet") {
    margin-top: 25px;
  }
  @include respond-to("Mobile") {
    margin-top: 20px;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 1023px;
  border-radius: 5px;
  overflow: hidden;
  @include respond-to("Laptop") {
    width: 90vw;
  }

  &__title {
    border-radius: 5px;
    background-color: #ff6060;
    height: 52px;
    font-weight: 700;
    font-size: 24px;
    color: white;
    list-style: none;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to("Tablet") {
      font-size: 20px;
    }
    @include respond-to("Mobile") {
      height: 30px;
      font-size: 13px;
      padding: 15px 10px;
    }
    & img {
      cursor: pointer;
    }
  }

  &__arrow {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
    @include respond-to("Tablet") {
      width: 28px;
      height: 28px;
    }
    @include respond-to("Mobile") {
      width: 22px;
      height: 22px;
    }
  }

  &__content {
    background-color: #f6f6f6;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    flex: 1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include respond-to("Mobile") {
      font-size: 12px;
    }
  }

  &.is-open {
    .collapse__arrow {
      transform: rotate(180deg);
    }

    .collapse__content {
      max-height: 1000px;
      visibility: visible;
      opacity: 1;
      padding: 15px;
    }
  }
}
