.rentings-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  border-radius: 25px;
  min-height: 100px;
  width: 100%;
  background-color: #f6f6f6;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 50px;
  gap: 40px;
  @include respond-to("Laptop") {
    grid-template-columns: 1fr 1fr;
  }
  @include respond-to("Tablet") {
    grid-template-columns: 1fr;
  }
  @include respond-to("Mobile") {
    padding: 0;
    background-color: transparent;
    gap: 20px;
    margin-top: 20px;
  }
}

.rentings-card {
  display: flex;
  aspect-ratio: 1/1;
  cursor: pointer;
  @include respond-to("Mobile") {
    aspect-ratio: auto;
  }

  & img {
    width: 100%;
    height: 100%;
    max-width: 340px;
    object-fit: cover;
    border-radius: 15px;

    @include respond-to("Tablet") {
      max-width: 600px;
    }
    @include respond-to("Mobile") {
      max-width: 335px;
      min-height: 255px;
    }
  }
  &__image-container {
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    font-size: 18px;
    text-shadow: 1px 2px 7px black;

    @include respond-to("Tablet") {
      font-size: 20px;
      // text-align: center;
    }
    @include respond-to("Mobile") {
      font-size: 16px;
      text-align: justify;
    }
  }
}
