.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 25px;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;

  @include respond-to("Mobile") {
    height: 18px;
    font-size: 10px;
  }
}

.tag-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  @include respond-to("Tablet") {
    justify-content: flex-end;
  }
  @include respond-to("Mobile") {
    justify-content: flex-start;
    margin-top: 10px;
  }
}
